Requests>=2.21.0
pytest
google-cloud-storage
google-cloud-bigquery
bandit

rsa>=4.1 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability